# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\VANDY\Desktop\Cours\Canada\session automne\Systeme_repartis\TP2_FATHI_SAVIVANH\TP2 - Genetic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
